

    {% extends "base.html" %}

{% block content %}
<h2>ホームページ</h2>
<p>ようこそ、{{ request.user.email }} さん！</p>

<h2>タスク一覧</h2>
<a href="{% url 'task_create' %}">新規作成</a>
<table class="task-table">
    <tr>
        <th>タイトル</th>
        <th>目標日</th>
        <th>目標時間</th>
        <th>操作</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.target_date }}</td>
        <td>{{ task.target_time }}</td>
        <td>
            <a href="{% url 'task_edit' task.id %}">編集</a>
            <a href="{% url 'task_delete' task.id %}">削除</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert alert-{{ message.tags }}">
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
